/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss" source(none);
@source "../css";
@source "../js";
@source "../../lib/luanox_web";

/* daisyUI Tailwind Plugin. You can update this file by fetching the latest version with:
   curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui.js
   Make sure to look at the daisyUI changelog: https://daisyui.com/docs/changelog/ */
@plugin "../vendor/daisyui" {
  themes: false;
}

/* daisyUI theme plugin. You can update this file by fetching the latest version with:
  curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui-theme.js */

/* Default dark and light themes are based off sweetie.nvim colorscheme */
@plugin "../vendor/daisyui-theme" {
  name: "dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(0.29 0.029 284.46);
  --color-base-200: oklch(0.27 0.0185 285.09);
  --color-base-300: oklch(0.32 0.0284 284.66);
  --color-base-content: oklch(88% 0.011 261.79);
  --color-primary: oklch(0.72 0.1145 300.05);
  --color-primary-content: oklch(0.29 0.029 284.46);
  --color-secondary: oklch(0.73 0.1552 317.44);
  --color-secondary-content: oklch(0.29 0.029 284.46);
  --color-accent: oklch(43% 0.097 242.98);
  --color-accent-content: oklch(88% 0.011 261.79);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(88% 0.011 261.79);
  --color-info: oklch(0.72 0.1285 260.2);
  --color-info-content: oklch(0.29 0.029 284.46);
  --color-success: oklch(0.75 0.1556 131.75);
  --color-success-content: oklch(0.29 0.029 284.46);
  --color-warning: oklch(0.87 0.1046 96.69);
  --color-warning-content: oklch(0.29 0.029 284.46);
  --color-error: oklch(0.63 0.1557 31.79);
  --color-error-content: oklch(0.29 0.029 284.46);
  --color-grey: oklch(0.61 0.0355 265.98);
  --color-dark-grey: oklch(0.58 0.0227 250.53);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "../vendor/daisyui-theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(0.9 0.0135 286.12);
  --color-base-200: oklch(0.8 0.0266 285.78);
  --color-base-300: oklch(0.85 0.0193 285.98);
  --color-base-content: oklch(0.24 0.0056 285.98);
  --color-primary: oklch(0.58 0.2689 298.34);
  --color-primary-content: oklch(0.9 0.0135 286.12);
  --color-secondary: oklch(0.48 0.1979 343.02);
  --color-secondary-content: oklch(0.9 0.0135 286.12);
  --color-accent: oklch(0.43 0.0974 242.98);
  --color-accent-content: oklch(0.9 0.0135 286.12);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(0.8 0.0266 285.78);
  --color-info: oklch(0.43 0.1228 252.57);
  --color-info-content: oklch(0.9 0.0135 286.12);
  --color-success: oklch(0.52 0.163 140.15);
  --color-success-content: oklch(0.24 0.0056 285.98);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(0.24 0.0056 285.98);
  --color-error: oklch(0.49 0.187 27.67);
  --color-error-content: oklch(0.9 0.0135 286.12);
  --color-grey: oklch(0.64 0.0476 284.98);
  --color-dark-grey: oklch(0.59 0.0563 284.53);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@theme {
  --color-grey: var(--color-grey);
  --color-dark-grey: var(--color-dark-grey);
}

/* Add variants based on LiveView classes */
@custom-variant phx-click-loading ([".phx-click-loading&", ".phx-click-loading &"]);
@custom-variant phx-submit-loading ([".phx-submit-loading&", ".phx-submit-loading &"]);
@custom-variant phx-change-loading ([".phx-change-loading&", ".phx-change-loading &"]);

/* Make LiveView wrapper divs transparent for layout */
[data-phx-root-id] { display: contents }

/* This file is for your main application CSS */
